input {
    height: 25px;
    width: 300px;
    margin-bottom: 10px;
    color: black;
    font-size: 12px;
    font-weight: bold;
}
input[type="submit"] {
    background-color: green;
    color: white;
    border: none;
    
}

textarea {
    margin-bottom: 10px;
    width: 300px;
}
